.scontainer{
    width: 100%;
    height: 100vh;
    background: black;    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000000;
    background-image: radial-gradient(#3a3a3a 1.05px, transparent 1.05px), radial-gradient(#3a3a3a 1.05px, #000000 1.05px);
    background-size: 42px 42px;
    background-position: 0 0, 21px 21px;
}

.scontainer .title{
    margin-bottom: 5px;
    font-family: "Unbounded";
    font-size: 20px;
}

.scontainer .sub{
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    color: grey;
    width: 25%;
    margin-bottom: 30px;
    text-align: center;
}

.scontainer .wrapper{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 23%;
}

.scontainer .wrapper .lab{
    font-family: "Open Sans";
    font-size: 13px;
}

.scontainer .wrapper .inp{
    height: 40px;
    font-family: "Open Sans";
    font-size: 13px;
    width: 100%;
    background-color: #28282891;
    border: 1px solid #ffffff3f;
    border-radius: 5px;
    padding: 0 10px;
    color: white;
    margin-top: 5px;
}

.scontainer .wrapper .btn{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Unbounded";
    background: #cbff76;
    border: none;
    cursor: pointer;
}

.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid grey;
    border-right-color: black;
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}

@media only screen and (max-width: 614px) {
    .scontainer .title{
        text-align: center;
        width: 80%;
    }
    .scontainer .sub{
        width: 70%;
    }
    .scontainer .wrapper{
        width: 80%;
    }
}