@font-face {
  font-family: "rugged";
  src: url("./assets/fonts/ocean.ttf");
}


.container{
  width: 100%;
  height: auto;
  padding: 0 9%;
  background: black;
}



.nav{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #757575;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Lexend Giga";
  font-size: 12px;
  padding: 0 15px;
  color: white;
}

.nav .menu{
  width: auto;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.nav .link{
  text-decoration: none;
  color: white;
}

.nav .link.dn{
  display: none;
}

.nav .logo{
  font-family: "Unbounded";
}


.landing{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

.landing .title{
  font-family: "Unbounded";
  font-size:70px;
  font-weight: bolder;
  line-height: 140%;
  word-spacing: 10px;
  color: #fff;
}

.landing .title div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.landing .title div .tag{
  width: 100px;
  height: 40px;
  border-radius: 40px;
  background-image: url("./assets/t2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
}

.landing .title div p span{
  color: orange;
}


.landing .title div .tag:last-child{
  background-image: url("./assets/t1.jpg");
}

.landing .sub{
  font-family: "Lexend Giga";
  font-size: 13px;
  margin-top: 30px;
  width: 60%;
  line-height: 150%;
  color: #777777;
}


.landing .section{
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.landing .section .side{
  width: 100%;
  height: auto;
}

.landing .section .side .btn{
  width: auto;
  height: auto;
  font-family: "Lexend Giga";
  padding: 8px 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  color: white;
  background: #151515;
  border: 1px solid #757575;
  background-color: #000000;
    opacity: 0.8;
    background-image: linear-gradient(135deg, #242424 25%, transparent 25%), linear-gradient(225deg, #242424 25%, transparent 25%), linear-gradient(45deg, #242424 25%, transparent 25%), linear-gradient(315deg, #242424 25%, #000000 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
  cursor: pointer;
}

.landing .section .side .btn ion-icon{
  font-size: 20px;
}

.side .tickets{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.side .tickets .ticket.bg{
  transform: rotate(25deg) translate(35px, 10px);
  transform-origin: right;
  position: absolute;
  overflow: inherit;
  background: #1d1a39;
  color: #ffffffde
}

.side .tickets .ticket .rt-dots .dot{
  background: #1d1a39;
}

.side .tickets .ticket.bg .rt-dots .dot{
  background: #000;
}

.side .tickets .ticket.bg .ttitle{
  border-top: 1px solid #ffffffcf;
  border-bottom: 1px solid #ffffffcf;
}

.side .tickets .ticket{
  height: 150px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Giga";
  flex-direction: column;
  text-align: center;
  padding: 0 50px;
  background: #ffffff;
  position: relative;
  transform: rotate(0deg);
  color: black;
  overflow: hidden;
  box-shadow: 0 0 33px #1f1f1f4f;
}

.side .tickets .ticket .ttitle{
  margin: 15px 0;
  font-family: "Unbounded";
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 20px;
  font-weight: 600;
}

.side .tickets .ticket .small{
  font-size: 11px;
}

.side .tickets .ticket .small.stars{
  width: auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.lt-dots, .rt-dots{
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.lt-dots{
  left: -8px;
}

.rt-dots{
  right: -8px;
}

.dot{
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
}


.events{
  width: 100%;
  min-height: 100vh;
  background: black;
}


.events .strip{
  width: 100%;
  height: 45px;
  background-color: #e1ffb1;
  font-family: "Unbounded";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1ffb1;
    opacity: 1;
    background-image: radial-gradient(#000000 0.65px, transparent 0.65px), radial-gradient(#000000 0.65px, #e1ffb1 0.65px);
    background-size: 26px 26px;
    background-position: 0 0, 13px 13px;
  gap: 40px;
  border-radius: 5px;
}


.events .cards {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.events .cards .card {
  width: 300px;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  background: #131313;
}

.events .cards .card .ename {
  font-family: "Unbounded";
  margin: 5px 0;
  color: white;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.events .cards .card .ename .tag{
  font-family: "Open Sans";
  font-size: 11px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  background: #ffff0010;
  text-transform: uppercase;
}

.events .cards .card .esub {
  font-family: "Open Sans";
  font-size: 12px;
  color: grey;
}

.events .cards .card .banner {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.events .cards .card .banner .tags {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.events .cards .card .btn.jn{
  color: #e1ffb1;
  border: 1px solid #e1ffb124;
  background: #e1ffb12e;
  font-size: 13px;
}

.events .filter{
  width: 50%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: white;
  padding: 10px 0;
  margin-top: 30px;
}

.events .filter .wrap{
  width: 100%;
}

.events .filter .wrap .lab{
  font-size: 13px;
  font-family: "Open Sans";
  color: grey;
  margin-bottom: 5px;
}

.events .filter .wrap .inp{
  width: 100%;
  height: 38px;
  padding: 0 10px;
  font-family: "Open Sans";
  color: white;
  background: #141414;
  border: 1px solid #2d2d2d;
  border-radius: 5px;
}

.events .filter .wrap .src{
  width: max-content;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  font-family: "Open Sans";
  color: #000;
  background: #e1ffb1;
  font-size: 12px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 614px){
  .landing .title{
    font-size: 30px;
  }
  .landing .title div .tag.mg, .side .tickets .ticket.bg{
    display: none;
  }
  .landing .title div .tag{
    margin-left: 10px;
    height: 30px;
    width: 70px;
    margin-top: 5px;
  }
  .landing{
    height: max-content;
  }
  .landing .sub{
    width: 100%;
    font-size: 11px;
  }
  .landing .section{
    flex-direction: column;
  }
  .side .tickets .ticket .rt-dots .dot{
    background: black;
  }
  .landing .section .side .btn{
    width: 100%;
    margin-bottom: 20px;
  }
  .side .tickets .ticket{
    transform: scale(0.7);
  }
  .events .strip{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
  }
  .events .strip p{
    display: inline-block;
  }
  .events .filter{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .events .filter .wrap .lab.mb{
    display: none;
  }
  .landing .title div{
    display: inline-block;
  }
  .landing .title div .mg{
    margin-left: 10px;
  }

  .events .cards .card{
    width: 100%;
  }
  .nav{
    padding: 0;
  }
  .nav .menu{
    display: none;
  }
  .nav .link{
    font-size: 11px;
  }
  .nav .link.dn {
    display: inline-block;
  }
}